<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <div>

  </div> -->
    <div class="container">
      <div class="card mb-5 mt-5 p-5">
        <form action="/post" method="POST">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              name="title"
              type="text"
              class="form-control"
              id="title"
              aria-describedby="titleHelp"
              placeholder="Enter title"
            />
          </div>
          <div class="form-group">
            <label for="body">Body</label>
            <input
              name="body"
              type="text"
              class="form-control"
              id="body"
              placeholder="Enter body"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Add</button>
        </form>
      </div>

      <% posts.forEach(res => { %>
      <div class="card mb-3">
        <div class="card-header"><%= res.title%></div>
        <div class="card-body"><%= res.body%></div>
        <div class="card-footer">
          <button
            id="<%=res.id%>"
            onclick="handleDelPost(event)"
            class="btn btn-danger"
          >
            Delete
          </button>
        </div>
      </div>
      <% }) %>
    </div>
    <script>
      handleDelPost = async event => {
        try {
          const id = event.target.id;
          const url = `/post/${id}`;
          await axios.delete(url);
          location.reload();
        } catch (err) {
          alert(err.toString());
        }
      };
    </script>
  </body>
</html>
